<% include ../head %>

<ul>
<% for(var i=0; i<entries.length; i++) { %>
 <li>
   <a href='/til/<%= entries[i].id %>' ><%= entries[i].info %></a>
   <ul>
     <li>
       <a href='/til/<%= entries[i].id %>/edit'>Edit Entry</a>
     </li>
     <li>
       <a href='/til/<%= entries[i].id %>/delete'>Delete Entry</a>
     </li>
   </ul>
 </li>
<% } %>
</ul>
<% include ../footer %>
