<% include ../head %>

<ul>
<% for(var i=0; i<entries.length; i++) { %>
 <li>
   <a href='/til/<%= i %>' ><%= entries[i].info %></a>
   <a href='/til/<%= i %>/edit'>Edit Entry</a>
   <a href='/til/<%= i %>/delete'>Delete Entry</a>
 </li>
<% } %>
</ul>
<% include ../footer %>
