<% include ../head %>

<form action="/til/" method='POST'>
  <label name="info">Title</label>
  <input type="text" name="info">
  <br />
  <label name="body">Message</label>
  <input type="text" name="body">
  <br />
  <input type="submit">
</form>

<% include ../footer %>
