<% include ../head %>
<form action="/til/<%= id %>" method='POST'>
<label name="info">Title</label>
<input type="text" name="info" value="<%= entry.info %>">
<br />

<label name="body">Message</label>
<input type="text" name="body" value="<%= entry.body %>">
<br />

<input type="submit">
</form>

<% include ../footer %>
